@model IEnumerable<Dependency_injection_core.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="createdata">Create New</a>
    <a asp-action="detail">detail </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
                <td>
                    <a asp-action="edit" asp-controller="Home" asp-route-id="@item.EmployeeId">Edit</a> |
                    @*<a asp-action="Detail" asp-controller="Home" asp-route-id="@item.EmployeeId">Details</a>*@
                    <a asp-action="deletedata" asp-controller="Home" asp-route-id="@item.EmployeeId">Delete</a>


                </td>
            </tr>
        }
    </tbody>
</table>

<ul>-
    @ViewBag.dynlist
    -----------------
    @ViewData["ibne"]

    -----------------

    
</ul>
